.top-tools {


  .triangle-right {
    width: 100vh;
    height: 50vh;
    border-top: 30vh solid transparent;
    border-left: 65vh solid #6399C8;
    border-bottom: 40vh solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  .tools-text {
    margin-left: center;
    color: #36454f;
  }
}